@keyframes moverCalavera {
  0% {
    transform: translateX(0) rotate(0deg);
    background-color: black;
  }
  25% {
    transform: translateX(300px) rotate(20deg);
    background-color: gray;
  }
  50% {
    transform: translateX(600px) rotate(-20deg);
    background-color: darkred;
  }
  75% {
    transform: translateX(300px) rotate(15deg);
    background-color: gray;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    background-color: black;
  }
}

.calavera {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 40px auto;
  animation: moverCalavera 6s infinite ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
