.menu {
  display: flex;
  justify-content: space-around;
  background-color: #8d6e63;
  padding: 10px;
  color: white;
}

.menu div {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu div:hover {
  background-color: #a1887f;
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu div {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
  }
}
